
/* Custom Styles */

.about-header{
    height:200px;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;

}

.about-image{
    background:url("assets/media/hero/about_hero.jpg") no-repeat;
    background-size:cover;
    max-width:100%;
}

.about-title{
    font-size:40px;
    font-family: 'Poppins', sans-serif;
    color:white;
}
